.page-header {
  display: flex;
  align-items: center;

  position: relative;
  width: 100%;
  height: 20rem;
  background-size: cover;
  color: #fff;

  &:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.75);
  }

  .container {
    position: relative;
    z-index: 2;
  }
}

.page-body {
  padding: 3rem 0;
  min-height: 70vh;
}
