.authorize-page {
  .game {
    display: flex;

    .logo {
      margin-right: 1rem;
      width: 5.5rem;
      border-radius: 5px;
      background-color: lightgray;
      background-size: cover;
      background-position: center;
    }

    .description {
      flex: 1;
    }
  }
}
