@import '~styles/variables/all';

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
    border-top-color: $yellow;
  }

  25% {
    transform: translate(-50%, -50%) rotate(90deg);
    border-top-color: $red;
  }

  50% {
    transform: translate(-50%, -50%) rotate(180deg);
    border-top-color: $blue;
  }

  75% {
    transform: translate(-50%, -50%) rotate(270deg);
    border-top-color: $green;
  }

  100% {
    transform: translate(-50%, -50%) rotate(360deg);
    border-top-color: $yellow;
  }
}

@keyframes delayedSpin {
  80% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  83% {
    transform: translate(-50%, -50%) rotate(-10deg);
  }

  85% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  95% {
    transform: translate(-50%, -50%) rotate(360deg);
  }

  97% {
    transform: translate(-50%, -50%) rotate(370deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.loading-spinner {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.5);

  &.global {
    position: fixed;
    z-index: $zindex-spinner;
  }

  &__circle,
  &__logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &__circle {
    position: absolute;
    border-radius: 100%;
    border-top: 3px solid $yellow;
    animation: spin 0.75s linear infinite;
  }

  &__logo {
    animation: delayedSpin 2s ease-in-out infinite;
  }
}
