@import '~styles/variables/all';

.home-page {
  .transfer {
    display: flex;
    align-items: center;

    @media screen and (max-width: $size-md) {
      flex-direction: column;
      align-items: initial;

      .form-group {
        margin: 0 0 1rem 0 !important;

        label {
          width: 3rem;
          text-transform: capitalize;
        }

        input,
        select {
          flex: 1;
        }
      }
    }

    .form-group {
      display: flex;
      align-items: center;

      margin: 0;
      margin-right: 0.5rem;

      label {
        margin: 0;
        margin-right: 0.5rem;
      }

      input {
        width: 7rem;
      }
    }
  }

  .balance {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 1rem;
    margin: 0.5rem 0;
    border: solid 1px #bababa;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    .value {
      margin: 0;
      font-weight: lighter;
    }

    .image {
      width: 7rem;
      height: 2rem;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: 0;
    }
  }
}
