.home-page {
  .balance {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 1rem;
    margin: 0.5rem 0;
    border: solid 1px #bababa;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    .value {
      margin: 0;
      font-weight: lighter;
    }

    .image {
      width: 7rem;
      height: 2rem;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: 0;
    }
  }
}
