@font-face {
  font-family: 'Lato';
  font-weight: 400;
  src: local('Lato'),
    url('../media/font/Lato/Lato-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato';
  font-weight: 700;
  src: local('Lato Bold'),
    url('../media/font/Lato/Lato-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato';
  font-weight: 200;
  src: local('Lato Light'),
    url('../media/font/Lato/Lato-Light.ttf') format('truetype');
}

body {
  font-family: 'Lato', sans-serif !important;
  color: #545454;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}
